%h1 this should be your index page
%p it should have a login form that requests an email address and password 

%p don't forget to implement your navigation buttons

- flash.each do |key, value|
  %p #{key} - #{value}

%form{ action: '/sessions', method: 'post'}
  %input{name: 'email'} email
  %br
  %input{name: 'password'} password
  = token_tag nil
  %input.button{type: 'submit', value: 'Log in'}

- if current_user
  %p logged in as #{current_user.email}

%br
%h4 Sign up
%form{ action: '/users', method: 'post'}
  %input{name: 'email'} email
  %br
  %input{name: 'password'} password
  = token_tag nil
  %input.button{type: 'submit', value: 'Sign up'}

